In [1]:
%load_ext lab_black

# Additional Exercises I

In [2]:
import numpy as np

## 1. Working with character strings

Create a variable $s$ that contains a string with its name (lower case). Then declare a new variable $S$ from $s$, but starting with an uppercase letter. Display $s$ and $S$.

##### solution

In [3]:
# The long way:
s = "lisa"
S = s[0].upper() + s[1:]
print("My name is %s, or with a capital first letter: %s" % (s, S))

# The short way:
print(s.capitalize())

My name is lisa, or with a capital first letter: Lisa
Lisa

## 2. Simple arithmetic operators

Create two variables $a$ = 3 and $b$ = 10
- Multiply $a$ and $b$ and display the type of the product.
- What do you get if you calculate $b/a$ or $b//a$.

Then create two variables $c$ = 3.0 and $d$ = 10.0
- Display the type of product here too. 
- What do you get if you calculate $d/c$ or $d//c$.

##### solution

In [4]:
a = 3
b = 10
c = 3.0
d = 10.0

print("Results: ", a * b, type(a * b), b / a, b // a)


print("Results 2: ", c * d, type(c * d), d / c, d // c)

Results:  30 <class 'int'> 3.3333333333333335 3
Results 2:  30.0 <class 'float'> 3.3333333333333335 3.0

## 3. Working with lists
### a) 
Generate a list *l* with the numbers from 0 to 10. 
- What is the length of *l*? 
- Print every second list element with a single *print()* command.

##### solution

In [5]:
l = np.arange(0, 10)
len(l)

10

In [6]:
l[::2]

array([0, 2, 4, 6, 8])

### b) 
The list a contains the integer float numbers from 2.0 to 6.0. Multiply the first element of the list by the fourth. Add the result of 3*(1//2) to the value and then subtract the value of the list length.

##### solution

In [7]:
a = [2.0, 3.0, 4.0, 5.0, 6.0]

print("Das Ergebnis lautet: ", (a[0] * a[3]) + 3 * (1 // 2) - len(a))

Das Ergebnis lautet:  5.0

# 4. Functions

### a) 

Write a function that finds the minimum and maximum of a list and outputs both at the same time.

##### solution

In [8]:
l = np.arange(20, 30)


def min_max(l):
    minimum = l.min()  # hier haben wir das erste Mal ein Objekt zugriff!
    maximum = l.max()
    return minimum, maximum

In [9]:
min_max(l)

(20, 29)

### b)
Write a Python function that checks whether a number falls within a certain range from 10 to 20.

##### solution

In [10]:
def test_range(n):
    # Check if 'n' is within the range from 3 to 8 (inclusive) using the 'in range()' statement
    if n in range(10, 21):
        # If 'n' is within the range, print that 'n' is within the given range
        print(f" {str(n)} is in the range ")
    else:
        # If 'n' is outside the range, print that the number is outside the given range
        print(f" {str(n)} is outside the given range.")

In [11]:
test_range(21)

 21 is outside the given range.

In [12]:
from IPython.display import IFrame

IFrame(
    src="../../citations/citation_Marie.html",
    width=900,
    height=200,
)