In [1]:
%load_ext lab_black

## Steering the control flow of a program

Up to this point, we have already learned how to utilise Python and Jupyter Notebooks to solve a variety of programming scenarios with the help of the essential data types and structures. We also get to know the usage of external packages and the usage of user-defined functions and their vast benefits. Nevertheless, the shown programming approaches have been pretty straightforward so far in a manner of speaking that we only implemented so-called ***sequentially control flows.*** This programmatic concept describes a relatively static way of implementation since all our implemented lines of codes (**statements**) are executed exactly in the order they are written without any possibility of omission. Hence our programming approaches lack the opportunity for flexibility, like a repeated or conditioned execution of certain code blocks.

Therefore, within the scope of this chapter, we want to get to know a variety of standard control flow structures that will allow you to modify and steer the programming flow in your favour. The following control flows will be introduced:

- `if`, `elif` and `else`
- `while`
- `for`

### Conditioned code execution

The first way of steering the code execution is to create branches within the execution flow of your code using conditions. The condition itself must contain a logical statement which is evaluated. Depending on the outcome of the logical expression (either `True` or `False`), one or the other branch is executed. We use the' if' statement to implement this type of control flow. The general syntax is:

if (logical_expression):
    # do a thing
    statement_1
    statement_2
else:
    # do something else
    statement_3
    statement_4

For example, we could implement a **UDF** that proves based on your age, if you are a teenager or an adult and returns the results of that evaluation:

In [2]:
def age_test(age):
    if age < 18:
        return "You are a teenager!"
    else:
        return "You are an adult!"

Let us test our nearly implemented, conditioned control flowed **UDF** by a few different values:

In [3]:
age_test(3)

'You are a teenager!'

In [4]:
age_test(30)

'You are an adult!'

Isn't it great?! Based on our logical expression, the age check `age < 18`, and a different output is produced at the given age! Great. Since our example only covers a dichotomic categorisation based on age, we want to implement a broader range of outputs based on the given age. Therefore we make use of the `elif` statement and adapt our `age_test()` function:

In [5]:
def age_test(age):
    if age <= 0:
        return "You are not born yet!"
    elif age <= 10:
        return "You are a kid!"
    elif age < 18:
        return "You are a teenager!"
    elif age < 65:
        return "You are an adult!"
    else:
        return "You are a retiree!"

Let's try our new version of the function with a few ages:

In [6]:
age_test(5)

'You are a kid!'

In [7]:
age_test(-5)

'You are not born yet!'

In [8]:
age_test(70)

'You are a retiree!'

## Using loops for repetition of statements

Another way to steer the control and execution flow is by repeatedly executing a specific code block on purpose with changing values. This programmatic concept is related to the term loops. It is one of the most powerful since it allows you to save many unnecessary LoCs due to little differences. The code statements within the loop are repeated as long as a given condition remains `True` or `False` based on the chosen implementation or as long as not all elements of a given list are selected once. The first case is related to `while` loops, while the second holds for `for` loops. For loops in Python are helpful when you want to cycle over all of the items
in a collection (such as all of the elements of an array), and while loops are useful when you want to
cycle for an indefinite amount of time until some condition is met.

### `for` loops

At first, we want to look at `for` loops since the structure is most likely easier to follow as a beginner. 

For a first example, let us use a for loop to print each number between 1 and 10 sequentially:

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Oh, that was relatively easy, but the result is unexpected! The reason is that we do not use the `range` command appropriately. Since the counting in Python starts with `0`, we must adapt the statement accordingly because we want the first ten numbers without the `0`. Hence:

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

> **Note:** the `range` command generates a list of values according to the parametrisation. If only one parameter is given, the list will start with $0$ and ends with $n - 1$. If two parameters are given, the list starts with $a$ and ends with $n - 1$.

Awesome! As a next, more advanced task we want to calculate the sum of the first ten numbers with the help of a `for` loop:

In [11]:
result = 0
for i in range(11):
    result = result + i
    # print('i=',i,', result=',result)
print(result)

55

> **Note on indentation**: Notice the indentation once we enter the for loop. Every idented statement after the for loop declaration is part of the for loop.  This rule holds true for while loops, if statements, functions, etc. Required identation is one of the reasons Python is such a beautiful language to read.

Nice! We can also simplify the loop by the use of the `+=` operator:

In [12]:
result = 0
for i in range(11):
    result += i
    print("i=", i, ", result=", result)
print(result)

i= 0 , result= 0
i= 1 , result= 1
i= 2 , result= 3
i= 3 , result= 6
i= 4 , result= 10
i= 5 , result= 15
i= 6 , result= 21
i= 7 , result= 28
i= 8 , result= 36
i= 9 , result= 45
i= 10 , result= 55
55

> **Exercise:** Externalise the above code within an user defined function (UDF) named `sum_of_numbers()`. The UDF shall take one *parameter*. Adapt the code so that this parameter steers up to which natural number the sum will be calculated.

In [13]:
def sum_of_numbers(a):
    result = 0

    for i in range(a + 1):
        result = result + i
        print("result", result)
    return result

> __Test your function__:   
The sum of the first $100$ natural numbers should be $5050$, while the sum of the first $500$ natural numbers should be $125250$.

In [14]:
sum_of_numbers(500)

result 0
result 1
result 3
result 6
result 10
result 15
result 21
result 28
result 36
result 45
result 55
result 66
result 78
result 91
result 105
result 120
result 136
result 153
result 171
result 190
result 210
result 231
result 253
result 276
result 300
result 325
result 351
result 378
result 406
result 435
result 465
result 496
result 528
result 561
result 595
result 630
result 666
result 703
result 741
result 780
result 820
result 861
result 903
result 946
result 990
result 1035
result 1081
result 1128
result 1176
result 1225
result 1275
result 1326
result 1378
result 1431
result 1485
result 1540
result 1596
result 1653
result 1711
result 1770
result 1830
result 1891
result 1953
result 2016
result 2080
result 2145
result 2211
result 2278
result 2346
result 2415
result 2485
result 2556
result 2628
result 2701
result 2775
result 2850
result 2926
result 3003
result 3081
result 3160
result 3240
result 3321
result 3403
result 3486
result 3570
result 3655
result 3741
result 3828
result 3916
result 4005
result 4095
result 4186
result 4278
result 4371
result 4465
result 4560
result 4656
result 4753
result 4851
result 4950
result 5050
result 5151
result 5253
result 5356
result 5460
result 5565
result 5671
result 5778
result 5886
result 5995
result 6105
result 6216
result 6328
result 6441
result 6555
result 6670
result 6786
result 6903
result 7021
result 7140
result 7260
result 7381
result 7503
result 7626
result 7750
result 7875
result 8001
result 8128
result 8256
result 8385
result 8515
result 8646
result 8778
result 8911
result 9045
result 9180
result 9316
result 9453
result 9591
result 9730
result 9870
result 10011
result 10153
result 10296
result 10440
result 10585
result 10731
result 10878
result 11026
result 11175
result 11325
result 11476
result 11628
result 11781
result 11935
result 12090
result 12246
result 12403
result 12561
result 12720
result 12880
result 13041
result 13203
result 13366
result 13530
result 13695
result 13861
result 14028
result 14196
result 14365
result 14535
result 14706
result 14878
result 15051
result 15225
result 15400
result 15576
result 15753
result 15931
result 16110
result 16290
result 16471
result 16653
result 16836
result 17020
result 17205
result 17391
result 17578
result 17766
result 17955
result 18145
result 18336
result 18528
result 18721
result 18915
result 19110
result 19306
result 19503
result 19701
result 19900
result 20100
result 20301
result 20503
result 20706
result 20910
result 21115
result 21321
result 21528
result 21736
result 21945
result 22155
result 22366
result 22578
result 22791
result 23005
result 23220
result 23436
result 23653
result 23871
result 24090
result 24310
result 24531
result 24753
result 24976
result 25200
result 25425
result 25651
result 25878
result 26106
result 26335
result 26565
result 26796
result 27028
result 27261
result 27495
result 27730
result 27966
result 28203
result 28441
result 28680
result 28920
result 29161
result 29403
result 29646
result 29890
result 30135
result 30381
result 30628
result 30876
result 31125
result 31375
result 31626
result 31878
result 32131
result 32385
result 32640
result 32896
result 33153
result 33411
result 33670
result 33930
result 34191
result 34453
result 34716
result 34980
result 35245
result 35511
result 35778
result 36046
result 36315
result 36585
result 36856
result 37128
result 37401
result 37675
result 37950
result 38226
result 38503
result 38781
result 39060
result 39340
result 39621
result 39903
result 40186
result 40470
result 40755
result 41041
result 41328
result 41616
result 41905
result 42195
result 42486
result 42778
result 43071
result 43365
result 43660
result 43956
result 44253
result 44551
result 44850
result 45150
result 45451
result 45753
result 46056
result 46360
result 46665
result 46971
result 47278
result 47586
result 47895
result 48205
result 48516
result 48828
result 49141
result 49455
result 49770
result 50086
result 50403
result 50721
result 51040
result 51360
result 51681
result 52003
result 52326
result 52650
result 52975
result 53301
result 53628
result 53956
result 54285
result 54615
result 54946
result 55278
result 55611
result 55945
result 56280
result 56616
result 56953
result 57291
result 57630
result 57970
result 58311
result 58653
result 58996
result 59340
result 59685
result 60031
result 60378
result 60726
result 61075
result 61425
result 61776
result 62128
result 62481
result 62835
result 63190
result 63546
result 63903
result 64261
result 64620
result 64980
result 65341
result 65703
result 66066
result 66430
result 66795
result 67161
result 67528
result 67896
result 68265
result 68635
result 69006
result 69378
result 69751
result 70125
result 70500
result 70876
result 71253
result 71631
result 72010
result 72390
result 72771
result 73153
result 73536
result 73920
result 74305
result 74691
result 75078
result 75466
result 75855
result 76245
result 76636
result 77028
result 77421
result 77815
result 78210
result 78606
result 79003
result 79401
result 79800
result 80200
result 80601
result 81003
result 81406
result 81810
result 82215
result 82621
result 83028
result 83436
result 83845
result 84255
result 84666
result 85078
result 85491
result 85905
result 86320
result 86736
result 87153
result 87571
result 87990
result 88410
result 88831
result 89253
result 89676
result 90100
result 90525
result 90951
result 91378
result 91806
result 92235
result 92665
result 93096
result 93528
result 93961
result 94395
result 94830
result 95266
result 95703
result 96141
result 96580
result 97020
result 97461
result 97903
result 98346
result 98790
result 99235
result 99681
result 100128
result 100576
result 101025
result 101475
result 101926
result 102378
result 102831
result 103285
result 103740
result 104196
result 104653
result 105111
result 105570
result 106030
result 106491
result 106953
result 107416
result 107880
result 108345
result 108811
result 109278
result 109746
result 110215
result 110685
result 111156
result 111628
result 112101
result 112575
result 113050
result 113526
result 114003
result 114481
result 114960
result 115440
result 115921
result 116403
result 116886
result 117370
result 117855
result 118341
result 118828
result 119316
result 119805
result 120295
result 120786
result 121278
result 121771
result 122265
result 122760
result 123256
result 123753
result 124251
result 124750
result 125250

125250

We may as well loop through any iterable object, such as a list of strings. Let us create a list of different names for those purposes:

In [15]:
names = ["John", "Ringo", "Paul", "George"]

Now let's print each name in the list one by one:

In [16]:
for name in names:
    print(name)

John
Ringo
Paul
George

> **Note:** By using `in`, each value within the list `names` is assigned sequentially and once to the variable name once! That makes the `for` loop quite handy and clearly implemented.

> **Exercise:** Combine the items from the two given lists `names` and `surnames` and print them as one string to the console each!

> *Hint:* You may want to investigate the use of the `enumerate()` and the `zip()` functions on your own with the help of the internet to find a handy and short solution for this task!

In [17]:
names = ["John", "Ringo", "Paul", "George"]
surnames = ["Lennon", "Star", "McCartney", "Harrison"]

In [18]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [19]:
for name_comb in zip(names, surnames):
    print(name_comb[0], name_comb[1])
    print("------")

John Lennon
------
Ringo Star
------
Paul McCartney
------
George Harrison
------

In [20]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### `while` loops

A `while` loop repeats a task until a particular condition is met. Therefore, we do not need to know how often the loop will be executed. Be sure there is a way to exit out of a while loop. Otherwise, your program will run forever.

Let's implement the same task with which we introduced the `for` loop, but this time by using a `while` loop. That means using a `while` loop that prints the first ten natural numbers sequentially:

In [21]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Now, we want to adapt the above loop so that only every second number starting with $2$ is printed:

In [22]:
i = 2
while i <= 10:
    print(i)
    i += 2

2
4
6
8
10

There is also the possibility of using an `if` statement within the loop to achieve the same result. We want to have a look at that solution by printing all even numbers from $0$ to $25$:

In [23]:
number = 0
while number <= 25:
    if (number % 2) == 0:
        print(number)
    number += 1

0
2
4
6
8
10
12
14
16
18
20
22
24

> **Exercise:** Write a parameterised UDF called `fibo_numbers()`, that calculates the fibonacci numbers according to the given parameter! Use a `while` loop for this task.

In [25]:
def fibo_numbers(b):
    a = 0
    fibo_list = []

    while a <= (b - 1):
        if a < 2:
            fibo_list.append(1)
        else:
            fibo_list.append(fibo_list[a - 2] + fibo_list[a - 1])
        a += 1

        # print(fibo_list)

    return fibo_list

> __Test your function__:   
The first 10 fibonacci numbers are:

In [26]:
fibo_numbers(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [1]:
from IPython.display import IFrame

IFrame(
    src="../../citations/citation_Soga.html",
    width=900,
    height=200,
)