In [1]:
%load_ext lab_black

## Pandas package for handling `DataFrames`

Usually, when handling data in python we use `pandas DataFrames`.

> For more information about `pandas DataFrames`, have a look into the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).


Before we start with a meteorological data set, we will give an example with the population of Europe's capitals.

In [2]:
# First, let's import all the needed libraries.

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import warnings

warnings.filterwarnings("ignore", "use_inf_as_na")

### `pandas DataFrames`

set up from dictionary:

In [3]:
## exemplary dataframe

cities = {
    "name": [
        "London",
        "Berlin",
        "Madrid",
        "Rome",
        "Paris",
        "Vienna",
        "Bucharest",
        "Hamburg",
        "Budapest",
        "Warsaw",
        "Barcelona",
        "Munich",
        "Milan",
    ],
    "population": [
        8615246,
        3562166,
        3165235,
        2874038,
        2273305,
        1805681,
        1803425,
        1760433,
        1754000,
        1740119,
        1602386,
        1493900,
        1350680,
    ],
    "country": [
        "England",
        "Germany",
        "Spain",
        "Italy",
        "France",
        "Austria",
        "Romania",
        "Germany",
        "Hungary",
        "Poland",
        "Spain",
        "Germany",
        "Italy",
    ],
}
df_city = pd.DataFrame(cities)
print(df_city)


### Mean of a single column
mean = df_city["population"].mean()
## Variance:
variance = df_city["population"].var()
## Median
median = df_city["population"].median()

df_city

         name  population  country
0      London     8615246  England
1      Berlin     3562166  Germany
2      Madrid     3165235    Spain
3        Rome     2874038    Italy
4       Paris     2273305   France
5      Vienna     1805681  Austria
6   Bucharest     1803425  Romania
7     Hamburg     1760433  Germany
8    Budapest     1754000  Hungary
9      Warsaw     1740119   Poland
10  Barcelona     1602386    Spain
11     Munich     1493900  Germany
12      Milan     1350680    Italy

         name  population  country
0      London     8615246  England
1      Berlin     3562166  Germany
2      Madrid     3165235    Spain
3        Rome     2874038    Italy
4       Paris     2273305   France
5      Vienna     1805681  Austria
6   Bucharest     1803425  Romania
7     Hamburg     1760433  Germany
8    Budapest     1754000  Hungary
9      Warsaw     1740119   Poland
10  Barcelona     1602386    Spain
11     Munich     1493900  Germany
12      Milan     1350680    Italy

### Subsetting a `pandas DataFrame`

> **Exercise**:
>
> We can calculate with a subset of a data set by using pandas "iloc":
> Remember that we start counting at 0! To consider the values of the pressure we locate the first column
> and all rows:

In [4]:
### your code here ###

#### solution

In [5]:
df_city.iloc[:, 0]

0        London
1        Berlin
2        Madrid
3          Rome
4         Paris
5        Vienna
6     Bucharest
7       Hamburg
8      Budapest
9        Warsaw
10    Barcelona
11       Munich
12        Milan
Name: name, dtype: object

In [6]:
from IPython.display import IFrame

IFrame(
    src="../../citations/citation_Soga.html",
    width=900,
    height=200,
)